header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-side-menu__ul{
    display: flex;
    list-style-type: none;
}

.desktop-side-menu__ul li{
    margin-inline: 20px;
}

.desktop-side-menu__ul li:hover{
    color: #f15d51;
    font-weight: 700;
    transform: scale(1.3);
}

.mobile-side-menu{
    display: none;
}


@media only screen and (max-width: 500px){

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .logo-container {
        margin-left: 5%;
    }

    .mobile-side-menu{
        display: block;
        margin-right: 5%;
    }

    .desktop-side-menu__ul{
        display: none;
    }
}