:root{
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    padding: 5%; 
    /* height: 150vh; */
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.desktop-central{
    margin-top: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.articles-section{
    width: 75%;
}

.news-section{
    width: 25%;
}

.articles-section__picture-container{
    width: 100%;
}

.articles-section__picture-container-pic{
    display: none;
}

.articles-section__picture-container-pic-desktop{
    width: 95%;
}

.article{
    display: flex;
    margin-top: 30px;
}

.p-mobile{
    display: none;
}

.articles-section__article{
    width: 40%;
}

.articles-section__article h1{
    font-weight: 800;
    font-size: 2.6rem;
    margin-right: 40%;
    word-spacing: 15px;
    margin-left: 10px;
}

.article-right-side{
    margin-right: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-right-side p{
    font-size: 1rem;
    line-height: 25px;
    padding-right: 40px;
}

.articles-section__btn{
    margin-top: 5%;
    background-color: #f15d51;
    border: none;
    outline: none;
    height: 50px;
    color: var(--off-white);
    padding-inline: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.7rem;
    width: 50%;
}

.news-section{
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

.news-section h1{
    color: #eaab4e;
    margin-block: 15%;
    margin-left: 7%;
}
.news-section__title{ 
    margin-top: 15%;
    margin-left: 7%;
    margin-right: 10%;
    font-weight: 800;
}

.news-section p{
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 5%;
    color: var(--grayish-blue);
    position: relative;
}

.news-section p:after{
    content: "";
    height: 1px;
    width: 95%;
    background-color: var(--grayish-blue);
    position: absolute;
    bottom: -70%;
    left: 0;
}

@media only screen and (max-width: 500px){
    body{
        min-height: 100vh;
        width: 100%;
        background-color: var(--off-white);
        font-family: 'Inter', sans-serif;
        padding: 0;
    }

    /* MAIN */

    .p-mobile, .article-right-side{
        display: block;
    }

    .p-desktop{
        display: none;
    }

    .desktop-central{
        display: block;
    }

    .articles-section, .article{
        width: 100%;
    }

    .article{
        margin-inline: 5%;
        display: flex;
        flex-direction: column;
    }

    .articles-section__article{
        width: 90%;
    }

    .articles-section__picture-container-pic-desktop{
        display: none;
    }

    .articles-section__picture-container{
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .articles-section__picture-container-pic{
        display: inline-block;
        height: 100%;
        width: 90%;
    }

    .articles-section__article h1{
        width: 70%;
        font-size: 2rem;
        margin-top: 5%;
        font-weight: 800;
        padding-right: 130px;
        line-height: 35px;
        margin-left: 0;
    }

    .articles-section__article p{
        margin-top: 3%;
        font-size: 0.8rem;
        line-height: 20px;
        color: var(--grayish-blue);
    }

    .articles-section__btn{
        margin-top: 5%;
        background-color: #f15d51;
        border: none;
        outline: none;
        height: 40px;
        color: var(--off-white);
        padding-inline: 25px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 0.7rem;
        min-width: 160px;
        width: 70%;
    }

    .news-section{
        height: 380px;
        width: 90%;
        background-color: var(--very-dark-blue);
        color: white;
        margin-top: 35px;
        margin-inline: auto;
        overflow-y: hidden;
    }

    .news-section h1{
        padding-top: 20px;
        padding-left: 5%;
        color: #eaab4e;
        font-weight: 700;
    }

    .news-section__title{
        margin-top: 35px;
        margin-inline: 5%;
        font-weight: 700;
    }

    .news-section p{
        margin-inline: 5%;
        margin-top: 3%;
        color: var(--grayish-blue);
        font-size: 0.7rem;
        word-spacing: 3px;
        position: relative;
    }

    .news-section p::after{
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--grayish-blue);
        position: absolute;
        bottom: -15px;
        left: 0;
    }

    /* BOTTOM SECTION  */

    .bottom-section{
        margin-top: 50px;
    }

    .bottom-section__part1,
    .bottom-section__part2,
    .bottom-section__part3
    {
        display: flex;
        flex-direction: row;
        margin-inline: 5%;
        margin-bottom: 20px;
    }

    .bottom-section__img-container{
        height: 150px;
        width: 35%;
        min-width: 100px;
    }

    .bottom-section__img-container img{
        width: 100%;
        height: 100%;
    }

    .bottom-section__right-side{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .bottom-section__right-side__counter{
        font-size: 2rem;
        color: var(--grayish-blue);
        font-weight: 700;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
    }

    .bottom-section__right-side__title{
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 0.9rem;
    }

    .bottom-section__right-side__body{
        font-size: 0.8rem;
        word-spacing: 0.1rem;
        padding-right: 0.5rem;
    }

    .attribution{
        text-align: center;
        position: relative;
    }

    .attribution:before{
        position: absolute;
        top: -10px;
        left: 10%;
        content: "";
        width: 80%;
        height: 1px;
        background-color: var(--grayish-blue);
    }

    .attribution a{
        color: black;
    }
}